Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pc\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: outcome in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\pc\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\pc\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pc\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pc\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Now we will download for the web driver for the web browser.steps for download are 
1.check the version of your browser
2.go to the link hhtps://chromedriver.chromium.org/downloads
3.download the webdriver for your version of your browser

In [4]:
#Les first connect to the driver
driver=webdriver.Chrome(r'E:\Datatrained\chromedriver_win32\chromedriver.exe')

In [5]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com")

In [6]:
# entering designation and location as required
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
#creating dataframe from above data
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name,'Exp_Required':experience_required})
df

,Job_Title,Job_Location,Company_Name,Exp_Required
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,"Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",4-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
3,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
5,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
6,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
7,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
8,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
9,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [13]:
#Les first connect to the driver
driver=webdriver.Chrome(r'E:\Datatrained\chromedriver_win32\chromedriver.exe')

In [14]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com")

In [15]:
# entering designation and location as required
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [16]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [17]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]

In [19]:
# Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [20]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [21]:
#creating dataframe from above data
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name})
df

,Job_Title,Job_Location,Company_Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
4,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart
9,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro

Q3: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill, Designations, and Companies” field.
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results

In [22]:
#Les first connect to the driver
driver=webdriver.Chrome(r'E:\Datatrained\chromedriver_win32\chromedriver.exe')

In [23]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com")

In [24]:
# entering designation and location as required
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [25]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [26]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [27]:
job_title=[]
job_location=[]
job_salary=[]

In [28]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

#scraping salary from the given page
salary_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi salary']")
for i in salary_tags[0:10]:
    sal=i.text
    job_salary.append(sal)

In [29]:
print(len(job_title),len(job_location),len(job_salary))

10 10 10

In [30]:
#creating dataframe from above data
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Job_Salary':job_salary})
df

,Job_Title,Job_Location,Job_Salary
0,"Mongodb Database Administrator, Maria DB or Ca...","Delhi / NCR, Hyderabad/Secunderabad, Pune, Che...",Not disclosed
1,Data Scientist,"Delhi / NCR, New Delhi, Pune, Gurgaon/Gurugram...",Not disclosed
2,Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Not disclosed
3,Data Scientist,"Delhi / NCR, Noida, Kolkata, Mumbai, Hyderabad...",Not disclosed
4,Opportunity For Senior Data Scientist/ Busines...,"Delhi / NCR, Gurgaon/Gurugram, Bangalore/Benga...",Not disclosed
5,Exciting opportunity For model monitoring/mode...,"Delhi / NCR, New Delhi, Gurgaon/Gurugram, Bang...",Not disclosed
6,Data Scientist with Global Service Based Compa...,"Delhi / NCR, Kolkata, Pune, Chennai, Bangalore...","25,00,000 - 30,00,000 PA."
7,Data Scientist,"Delhi / NCR, Noida, Kolkata, Mumbai, Hyderabad...",Not disclosed
8,Data Scientist - NLP/Python/Spark,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Not disclosed
9,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Visakhapatnam, H...",Not disclosed

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.

In [31]:
#Les first connect to the driver
driver=webdriver.Chrome(r'E:\Datatrained\chromedriver_win32\chromedriver.exe')

In [32]:
# Opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com")

In [33]:
# entering Brand name of sunglasses required
prodct=driver.find_element(By.CLASS_NAME,"_3704LK")
prodct.send_keys("Sunglasses")

In [34]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [35]:
Brand=[]
price=[]
discount=[]
size=[]

In [40]:
#scraping Brand Name from the given page
Brand_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in Brand_tags[0:100]:
    Name=i.text
    Brand.append(Name)

#scraping Price of Product from the given page
Price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in Price_tags[0:100]:
    rupee=i.text
    price.append(rupee)

#scraping Discount on product from the given page
dis_tags=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
for i in dis_tags[0:100]:
    off=i.text
    discount.append(off)
    
#scraping style of product from the given page
style_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in style_tags[0:100]:
    st=i.text
    size.append(st)

In [41]:
print(len(Brand),len(price),len(discount),len(size))

120 120 120 120

In [42]:
#creating dataframe from above data
df=pd.DataFrame({'Brand':Brand,'Price':price,'Discount':discount,'Size':size})
df

,Brand,Price,Discount,Size
0,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off,UV Protection Wayfarer Sunglasses (Free Size)
1,UV Protection Round Sunglasses (54),₹179,86% off,UV Protection Round Sunglasses (54)
2,UV Protection Wayfarer Sunglasses (Free Size),₹199,50% off,UV Protection Wayfarer Sunglasses (Free Size)
3,UV Protection Oval Sunglasses (Free Size),₹189,81% off,UV Protection Oval Sunglasses (Free Size)
4,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹179,86% off,"UV Protection, Mirrored Wayfarer Sunglasses (54)"
...,...,...,...,...
115,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹759,15% off,"Gradient, UV Protection Wayfarer Sunglasses (F..."
116,UV Protection Aviator Sunglasses (58),"₹1,039",20% off,UV Protection Aviator Sunglasses (58)
117,Mirrored Aviator Sunglasses (55),₹339,77% off,Mirrored Aviator Sunglasses (55)
118,"UV Protection, Polarized, Mirrored Rectangular...",₹195,88% off,"UV Protection, Polarized, Mirrored Rectangular..."
119,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off,UV Protection Wayfarer Sunglasses (Free Size)

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [44]:
#Les first connect to the driver
driver=webdriver.Chrome(r'E:\Datatrained\chromedriver_win32\chromedriver.exe')

In [45]:
# Opening the flipkat page on automated chrome browser
driver.get("https://www.flipkart.com")

In [46]:
# entering Brand name of iphone11 required
prodct=driver.find_element(By.CLASS_NAME,"_3704LK")
prodct.send_keys("iphone11")

In [47]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [48]:
Review_summary=[]
Full_review=[]

In [65]:
#scraping Price of Product from the given page
Review_tags=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
for i in Review_tags:
    rup=i.text
    Review_summary.append(rup)

#scraping Discount on product from the given page
Full_tags=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
for i in Full_tags:
    Rw=i.text
    Full_review.append(Rw)

In [66]:
print(len(Review_summary),len(Full_review))

100 100

In [67]:
#creating dataframe from above data
df=pd.DataFrame({'Review_summary':Review_summary,'Full_review':Full_review})
df

,Review_summary,Full_review
0,Perfect product!,After using 3 years mobile review. Excellent &...
1,Terrific,I am using the phone for last 5 years and foun...
2,Good phone but not for the power user,Apple's iPhone series have been known for thei...
3,Super!,This review is after 6 year of purchasing this...
4,Simply awesome,Really satisfied with the Product I received.....
...,...,...
95,Don't waste your money,Very bad mic within 2 days my phone mic is not...
96,Good quality product,impressively Nice......\nOne of the greatest i...
97,Perfect product!,Nice products thanks flkat
98,Fabulous!,Fast performance to previous iPhone x\nGood ca...
99,Mind-blowing purchase,Fantastic and prompt delivery.

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [68]:
#Les first connect to the driver
driver=webdriver.Chrome(r'E:\Datatrained\chromedriver_win32\chromedriver.exe')

In [69]:
# Opening the flpikart page on automated chrome browser
driver.get("https://www.flipkart.com")

In [70]:
# entering Brand name of sneakers required
prodct=driver.find_element(By.CLASS_NAME,"_3704LK")
prodct.send_keys("sneakers")

In [71]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [72]:
Brand=[]
price=[]
discount=[]
Type=[]

In [79]:
#scraping Brand Name from the given page
Brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in Brand_tags[0:25]:
    Name=i.text
    Brand.append(Name)

#scraping Price of Product from the given page
Price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in Price_tags[0:25]:
    rupee=i.text
    price.append(rupee)

#scraping Discount on product from the given page
dis_tags=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
for i in dis_tags[0:25]:
    off=i.text
    discount.append(off)
    
#scraping style of product from the given page
style_tags=driver.find_elements(By.XPATH,"//div[@class='_2B099V']")
for i in style_tags[0:25]:
    st=i.text
    Type.append(st)

In [80]:
print(len(Brand),len(price),len(discount),len(Type))

100 100 100 100

In [81]:
#creating dataframe from above data
df=pd.DataFrame({'Brand':Brand,'Price':price,'Discount':discount,'Type':Type})
df

,Brand,Price,Discount,Type
0,RapidBox,₹590,40% off,RapidBox\nSneakers For Men\n₹590₹99940% off\nF...
1,Shozie,₹479,52% off,Shozie\nStylish Sneakers Shoes for Men Sneaker...
2,BRUTON,₹470,63% off,BRUTON\nModern Trendy Shoes Sneakers For Men\n...
3,RED TAPE,"₹1,499",70% off,"RED TAPE\nSneakers For Men\n₹1,499₹4,99970% of..."
4,BRUTON,₹259,56% off,BRUTON\nLightweight Pack Of 1 Trendy Sneakers ...
...,...,...,...,...
95,Rzisbo,₹549,45% off,Rzisbo\nSneakers For Men\n₹549₹99945% off\nFre...
96,Kraasa,₹624,37% off,"Kraasa\nCasuals, Canvas, Partywear Sneakers Fo..."
97,BRUTON,₹666,48% off,BRUTON\nModern Trendy Sneakers Shoes Sneakers ...
98,MOHLIYE,₹296,57% off,MOHLIYE\nExclusive Range of Stylish Comfortabl...
99,BRUTON,₹470,63% off,"BRUTON\nSneaker Sneakers For Men\n₹470₹1,29963..."

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [82]:
#Les first connect to the driver
driver=webdriver.Chrome(r'E:\Datatrained\chromedriver_win32\chromedriver.exe')

In [83]:
# Opening the myntra page on automated chrome browser
driver.get("https://www.myntra.com/shoes")

In [84]:
Brand=[]
price=[]
Product_Description=[]

In [89]:
#scraping Brand Name from the given page
Brand_tags=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
for i in Brand_tags[0:25]:
    Name=i.text
    Brand.append(Name)

#scraping Price of Product from the given page
Price_tags=driver.find_elements(By.XPATH,"//div[@class='product-price']")
for i in Price_tags[0:25]:
    rupee=i.text
    price.append(rupee)

#scraping product description from the given page
des_tags=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
for i in des_tags[0:25]:
    prod=i.text
    Product_Description.append(prod)

In [90]:
print(len(Brand),len(price),len(Product_Description))

100 100 100

In [91]:
#creating dataframe from above data
df=pd.DataFrame({'Brand':Brand,'Price':price,'Product_Description':Product_Description})
df

,Brand,Price,Product_Description
0,U.S. Polo Assn.,Rs. 1499Rs. 2999(50% OFF),Men Clarkin Sneakers
1,Roadster,Rs. 796Rs. 3795(79% OFF),Men Sneakers
2,one8 x PUMA,Rs. 1574Rs. 3499(55% OFF),Men Alder IDP Running Shoes
3,Bond Street By Red Tape,Rs. 1274Rs. 5099(75% OFF),Men Colourblocked PU Sneakers
4,Mactree,Rs. 972Rs. 3890(75% OFF),Men Colourblocked PU Sneakers
...,...,...,...
95,Nike,Rs. 4871Rs. 6495(25% OFF),Men Run Swift Running Shoes
96,HRX by Hrithik Roshan,Rs. 1679Rs. 5599(70% OFF),Men TR-100 Training Shoe
97,Reebok,Rs. 1199Rs. 2999(60% OFF),Men Edgility Running Shoes
98,HIGHLANDER,Rs. 796Rs. 1990(60% OFF),Men Sneakers
99,GRIFFIN,Rs. 2399Rs. 3399(Rs. 1000 OFF),Men Latex Lined Brogues

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [92]:
#Les first connect to the driver
driver=webdriver.Chrome(r'E:\Datatrained\chromedriver_win32\chromedriver.exe')

In [93]:
# Opening the Amazon page on automated chrome browser
driver.get("https://www.amazon.in/")

In [94]:
Title=[]
price=[]
Ratings=[]

In [96]:
#scraping Title of laptop from the given page
title_tags=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in title_tags[0:10]:
    Name=i.text
    Title.append(Name)

#scraping Price of Product from the given page
Price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in Price_tags[0:10]:
    rupee=i.text
    price.append(rupee)

#scraping Ratings on product from the given page
Rate_tags=driver.find_elements(By.XPATH,"//span[@class='a-icon-alt']")
for i in Rate_tags[0:10]:
    rat=i.text
    Ratings.append(rat)

In [98]:
print(len(Title),len(price),len(Ratings))

10 10 10

In [99]:
#creating dataframe from above data
df=pd.DataFrame({'Title':Title,'Price':price,'Ratings':Ratings})
df

                                               Title     Price Ratings
0  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    64,990
1  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...  1,00,000
2  ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...    93,290
3  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    79,990
4  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    80,990
5  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    64,990
6  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    77,990
7  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    86,990
8  Acer Nitro 5 Core i7 11th Gen 15.6" (39.62cms)...    89,990
9  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...  1,09,990

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.

In [100]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [101]:
#Les first connect to the driver
driver=webdriver.Chrome(r'E:\Datatrained\chromedriver_win32\chromedriver.exe')

In [102]:
# Opening the Given website page on automated chrome browser
driver.get("https://www.ambitionbox.com/")

In [103]:
Company_name=[]
Experience=[]
Minimum_Salary=[]
Average_salary=[]
Maximum_Salary=[]

In [104]:
#scraping company name from the given page
title_tags=driver.find_elements(By.XPATH,"//div[@class='name']")
for i in title_tags:
    Name=i.text
    Company_name.append(Name)

#Scraping Experience from the given page
Exp_tags=driver.find_elements(By.XPATH,"//div[@class='sbold-list-header']")
for i in Exp_tags:
    Expn=i.text
    Experience.append(Expn)

#Scraping Minimum salary for the job from the given page
Min_tags=driver.find_elements(By.XPATH,"//div[@class='value body-medium']")
for i in Min_tags:
    Mini=i.text
    Minimum_Salary.append(Mini)
    
# Scraping Avg Salary from the given page
Avg_tags=driver.find_elements(By.XPATH,"//p[@class='averageCtc']")
for i in Avg_tags:
    Avrg=i.text
    Average_salary.append(Avrg)
    
#Scraping Max Salary from the given page
Max_tags=driver.find_elements(By.XPATH,"//div[@class='value body-medium']")
for i in Max_tags:
    Maxm=i.text
    Maximum_Salary.append(Maxm)

In [105]:
print(len(Company_name),len(Experience),len(Minimum_Salary),len(Average_salary),len(Maximum_Salary))

0 0 0 0 0